#mdcontact_cpanel{
	min-height:	400px;
}
.icon{
	padding-top: 40px;
}
.md_cpanel_icon{
	text-align: center;
	margin-right: 20px;
	float: left !important;
	font-size: 8pt !important;
	font-weight: normal !important;
	color: #000000 !important;
	background-color: #f0f0f0 !important;
	border: 1px solid #E5E5E5 !important;
	width: 150px;
	height: 150px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;

}